<mat-tab-group>
  <mat-tab label="First"> Content 1
    asdaskdljaskdljaskld
    ajskdljaskdl
    ajskdljaskdl
    <br>
    ajskdlajsdkl
    ajskldajskdl
    jakls
    <div>
      asdasljdklasd
      kajaja
      
    </div> 
    
  </mat-tab>
  <mat-tab label="Second"> Content 2 </mat-tab>
  <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group>