
<h1 mat-dialog-title>Explicaci&oacute;n acerca de la Sentencia</h1>
<div mat-dialog-content>
  
  
  
  <mat-list>
    <mat-list-item><p>Valor de relevancia: <b>{{data.document.ranking_sin_credito}} + {{data.document.ranking-data.document.ranking_sin_credito}} DE CREDITO = {{data.document.ranking}}</b></p></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><p>Posici&oacute;n en ranking: <b>{{data.document.posicion}}</b></p></mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
   
  <div *ngFor="let traz of data.document.trazabilidad; index as i">
    <mat-list >
      <mat-list-item><p>A continuaci&oacute;n se refleja en la tabla los t&eacute;rminos relacionados con <b>{{data.document.parametro_de_busqueda [i]}}</b>:</p></mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
    <table class="striped highlight black-text">
        <thead>
        <th>T&eacute;rmino</th>
        <th matTooltip="La distancia semántica es la medida de la interrelación existente entre dos palabras cualesquiera en un texto." matTooltipPosition="above">Relaci&oacute;n Sem&aacute;ntica Actual</th>
        <th matTooltip="Ocurrencia literal del evento (término) en la sentencia." matTooltipPosition="above">Ocurrencia</th>
        <th matTooltip="Las fuentes utilizadas actualmente, se describen en la sección 'Otros Datos'." matTooltipPosition="above">Fuente de obtenci&oacute;n</th>
        <th matTooltip="Porcentaje de participación del término en el valor de relevancia de la sentencia." matTooltipPosition="above">Porcentaje Representado</th>
        </thead>
        <tbody>
          
        <tr *ngFor="let traz2 of traz">
          <td>{{ traz2.termino }} </td>
          <td>{{ traz2.ponderacion_resultante }} </td>
          <td>{{traz2.ocurrencia}}</td>
          <td>{{traz2.apis}}</td>
          <td>{{(((traz2.ocurrencia * traz2.ponderacion_resultante)/data.document.ranking_sin_credito) * 100)}}%</td>
        </tr>
      </tbody>
    </table>
  </div>


  <mat-divider></mat-divider>
  <h6 mat-subheader><b>Otros Datos</b></h6>  
  <mat-divider></mat-divider>
  <p align="justify">
  Para obtener la distancia semantica inicial entre dos t&eacute;rminos, se
  utiliza la Distancia de Google Normalizada (NGD) que consiste en una f&oacute;rmula basada en
  los recuentos de las b&uacute;squedas indexadas por Google. Para m&aacute;s informaci&oacute;n ingrese
  a: <a>https://ieeexplore.ieee.org/document/4072748</a>.<br> 
  Luego se establece la distancia mediante la diferencia entre un umbral m&aacute;ximo definido de 
  antemano y el valor de NGD para los pares de palabras en cuesti&oacute;n.
  </p>
  <mat-divider></mat-divider><br>
  <mat-divider></mat-divider>
  <p align="justify">
  Mediante las evaluaciones realizadas, el sistema se retroalimenta y modifica las distancias 
  sem&aacute;nticas fortaleciendo o debilitando las mismas —por medio de un coeficiente y de acuerdo al
  porcentaje de participaci&oacute;n en el valor de relevancia— en funci&oacute;n 
  de dicha evaluaci&oacute;n.
  </p>
  <mat-divider></mat-divider><br>
  <mat-divider></mat-divider>
  <p align="justify">
  Para obtener el aporte de cada t&eacute;rmino en la relevancia de una sentencia se realiza el
  cociente entre <b>X</b> y el valor de relevancia, donde <b>X</b> representa el producto entre
  la ponderaci&oacute;n y la cantidad de ocurrencias literales.
  </p>
  <mat-divider></mat-divider><br>
  <mat-divider></mat-divider>
  <p align="justify">
  Para obtener el valor de relevancia de cada sentencia se realiza la sumatoria del producto entre
  la distancia sem&aacute;ntica (o ponderaci&oacute;n) —de la consulta de b&uacute;squeda
  y el t&eacute;rmino relacionado— y la cantidad de ocurrencias literales en dicha sentencia.
  Cabe destacar que en la sumatoria se contemplan todos los t&eacute;rminos relacionados
  a la consulta de b&uacute;squeda.
  </p>
  <mat-divider></mat-divider><br>
  <mat-divider></mat-divider>
  <p align="justify">
  Las fuentes utilizadas actualmente son:<br>
  ConceptNet: <a>http://api.conceptnet.io</a><br>
  WordReference: <a>http://api.wordreference.com/sinonimos/</a><br>
  Tesauros SAIJ: <a>http://vocabularios.saij.gob.ar/saij/services.php</a>
  </p>
  <mat-divider></mat-divider><br>

  

  


  
</div>

<!--<div mat-dialog-actions>-->
  

<button style="width: 100%"  class="btn right" (click)="onNoClick()" >Aceptar</button>
<!--</div>-->



 