<!--<div class="container">-->
  <div *ngIf="credenciales()">
      <!--<div class="nav-item" *ngIf="credenciales()">
          <a href="#" class="nav-link" (click)="logout()">Logout
          </a>
        </div>-->
   
        
           
                <mat-expansion-panel *ngIf="authService.getTest() || !authService.getTest()" [expanded]="panelOpenState"  (opened)="panelOpenState = true"
                (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        Seleccione las siguientes opciones:
                        <hr>
                    </mat-panel-title>
                    <mat-panel-description>
                    {{panelOpenState ? 'Click para ocultar pesta&ntilde;a' : 'Click para seleccionar'}}
                    </mat-panel-description>
                  </mat-expansion-panel-header>
              
                
                
                 
                      
                      
                      <tr>
                        <!--<td>
                            
                            <mat-form-field>
                              <mat-select placeholder="Acción a Realizar..." [(ngModel)]="selectedValue" name="accion">
                                <mat-option *ngFor="let accion of acciones" [value]="accion.value">
                                  {{accion.viewValue}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                            

                        </td>-->
                        <td *ngIf="authService.getTest()">       
                            <mat-form-field >
                              <mat-select  placeholder="Selección de Corpus..." [(ngModel)]="selectedValue2" name="prueba" (selectionChange)="changeCorpus($event.value)">
                                <mat-option *ngFor="let prueba of tipos_prueba" [value]="prueba.value">
                                  {{prueba.viewValue}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                        </td>
                        <td *ngIf="selectedValue2=='almacenada'">       
                            <mat-form-field >
                              <mat-select  placeholder="Nombre de Prueba Almacenada..." [(ngModel)]="selectedValue3" name="prueba_guardada">
                                <mat-option *ngFor="let prueba_almacenada of pruebas_almacenadas" [value]="prueba_almacenada.value">
                                  {{prueba_almacenada.viewValue}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                        </td>

                        <td *ngIf="!selectedValue2=='' && authService.getTest()">       
                            <tr>
                             <mat-checkbox class="example-margin" [disabled] = 'checked_tnoautoma' [(ngModel)]="checked_tautoma">Prueba Autom&aacute;tica</mat-checkbox>
                                                    
                            </tr>
                            <tr>
                              <mat-checkbox class="example-margin" [disabled] = 'checked_tautoma' [(ngModel)]="checked_tnoautoma">Prueba No Autom&aacute;tica</mat-checkbox>
                            </tr>
                        </td>


                        <td *ngIf="selectedValue2=='nueva'">       
                            <mat-checkbox class="example-margin" [(ngModel)]="checked_almacenar">Almacenar Cambios de la Prueba</mat-checkbox>
                        </td> 
                        
                        <td *ngIf="checked_tautoma && authService.getTest()" class="numeros">
                            <input type="number"  [(ngModel)]="number_iteraciones" matInput placeholder="Iteraciones">
                        </td>



                        <td *ngIf="(number_iteraciones && checked_tautoma) || checked_tnoautoma || !authService.getTest()">       
                         <tr *ngIf="!1==1">
                          <mat-checkbox class="example-margin" [disabled] = 'checked_bsemngd || checked_bsemnld' [(ngModel)]="checked_bsin">B&uacute;squeda Literal</mat-checkbox>
                                                 
                         </tr>
                         <tr >
                           <mat-checkbox class="example-margin" [disabled] = 'checked_bsin || checked_bsemnld' [(ngModel)]="checked_bsemngd">B&uacute;squeda Sem&aacute;ntica (NGD)</mat-checkbox>
                         </tr>
                         <tr>
                            <mat-checkbox class="example-margin" [disabled] = 'checked_bsemngd || checked_bsin' [(ngModel)]="checked_bsemnld">B&uacute;squeda Sem&aacute;ntica (DJN)</mat-checkbox>
                         </tr>
                        </td> 
                     
                        <td *ngIf="checked_bsemngd || checked_bsemnld || checked_bsin">
                          <tr>
                              <mat-checkbox [disabled] = 'checked_concluster' class="example-margin" [(ngModel)]="checked_sincluster">Ranking Sin Clustering</mat-checkbox>
                          </tr>
                          <tr> 
                              <mat-checkbox [disabled] = 'checked_sincluster' class="example-margin" [(ngModel)]="checked_concluster">Ranking Con Clustering</mat-checkbox>
                          </tr>
                        </td>
                        



                        <td *ngIf="(checked_concluster || checked_sincluster) && (checked_bsemngd || checked_bsemnld || checked_bsin) && (authService.getTest() || !authService.getTest())" class="buscador">
                          <div class="" >
                              <div class="card">
                                <div class="card-content">
                        
                                  <div class="input-field">
                                    <input type="text" name5="param_search" #name5=""  placeholder="Ingrese termino de busqueda...">
                                    <button [disabled]="provisorio" class="btn right" style="margin-left: 1px;"  (click)="testModel(name5.value)">Buscar</button>
                                    <!--<button class="btn right" style="margin-left: 1px;" (click)="searchDocument(name5.value+'-without')">Buscar Lexicogr&aacute;ficamente</button>-->
                                    <!--<button class="btn right" style="margin-left: 1px;" (click)="credenciales()">Credenciales</button>-->
                                  </div>
                        
                                </div>
                              </div>
                            </div>
                        </td>
                        
                      
                        
                     

                      </tr>
                      </mat-expansion-panel>


                     
            
                               
                  
                
                
                
                  
                
              
    
    <div class="row">
        <div class="col s12" *ngIf="false">
          <div class="card">
            <div class="card-content">
    
              <div class="input-field">
                <input type="text" name5="param_search" #name5=""  placeholder="Ingrese termino de busqueda...">
                <button [disabled]="provisorio" class="btn right" style="margin-left: 1px;"  (click)="searchDocument(name5.value+'-disem')">Buscar</button>
                <!--<button class="btn right" style="margin-left: 1px;" (click)="searchDocument(name5.value+'-without')">Buscar Lexicogr&aacute;ficamente</button>-->
                <!--<button class="btn right" style="margin-left: 1px;" (click)="credenciales()">Credenciales</button>-->
              </div>
    
            </div>
          </div>
        </div>
        <mat-progress-bar *ngIf="provisorio==true" mode="indeterminate">Realizando B&uacute;squeda</mat-progress-bar>
        
    
    


        <!--<div class="">
          <table class="striped highlight black-text">
            <thead>
            <th>Posici&oacute;n</th>
            <th>Titulo</th>
            <th>Cuerpo</th>
            <th>Trazabilidad</th>
            <th>Evaluaci&oacute;n</th>
            </thead>
            <tbody>
            <tr *ngFor="let document of documentService.documents">
              <td>{{ document.posicion }}</td>
              <td>{{ document.title }}</td>
              <td>{{ document.cuerpo }}</td>
              <td >
                <div *ngFor="let traz of document.trazabilidad">
                  <b>{{ traz.termino }} {{traz.ocurrencia}}</b><br>
                </div>
              
              </td>
              <td>
                <div class="row">
                  <div class="">
                    <a *ngIf="document.calificacion=='undefined'" (click)="feedback(document, 'up')">
                        <i class='material-icons icon-blue'> thumb_up</i>  
                    </a>
                    <a *ngIf="document.calificacion=='undefined'" (click)="feedback(document, 'down')">
                        <i class='material-icons icon-blue'>thumb_down </i>  
                    </a>
                    
                    
                    
                    <a *ngIf="document.calificacion!='undefined'">
                        <i class='material-icons icon-green'>check</i>  
                    </a>
                </div>
                </div>
                
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      
      -->
        <div class="">
          <table class="striped highlight black-text">



          </table>
        </div>
    


        
     
  
  <mat-tab-group class="">
      
      <mat-tab label="Datos Resoluciones"> 
          
          <input *ngIf="habilitar_filtro" matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro...">
          <mat-expansion-panel *ngIf="habilitar_filtro && authService.getTest()" (opened)="panelOpenState2 = true" [expanded]="panelOpenState2"
                        (closed)="panelOpenState2 = false">
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              An&aacute;lisis de M&eacute;tricas e Informaci&oacute;n acerca de las Sentencias
                            </mat-panel-title>
                            <mat-panel-description>
                            {{panelOpenState2 ? 'Click para ocultar detalles' : 'Click para ver detalles'}}
                            </mat-panel-description>
                          </mat-expansion-panel-header>
                          <tr> 
                              <td><b>M&eacute;tricas</b><br>
                                    <small>F-Score: <b>{{fscore}}</b> </small><br>
                                    <small> Precisi&oacute;n: <b>{{precision}}</b> </small><br>
                                    <small> Exhaustividad: <b>{{exhaustividad}}</b> </small>
                                    
                                  
                            </td>
                            <td><b>Sentencias</b><br>
                                <small>Sentencias Relevantes Recuperadas Correctamente: <b>{{relevantes_recuperados_correctamente}}</b> </small><br>
                                <small>Total de Sentencias Relevantes Recuperadas: <b>{{total_relevantes_recuperados}}</b> </small><br>
                                <small>Total de Sentencias Relevantes seg&uacute;n el Experto: <b>{{total_relevantes}}</b> </small>
                              
                          </td>
                          </tr>
            </mat-expansion-panel>
            <hr *ngIf="habilitar_filtro">
                        
          <table class="striped highlight black-text" mat-table [dataSource]="dataSource">
    
                        
              <ng-container matColumnDef="posicion">
                <!--mat-header-cell-->
                <th  *matHeaderCellDef> Posici&oacute;n </th>
                <td mat-cell *matCellDef="let document"> {{document.posicion}} </td>
              </ng-container>
    
    
              <ng-container matColumnDef="no_expediente">
                <th  *matHeaderCellDef> N Expediente </th>
                <td mat-cell *matCellDef="let document"> {{document.id1}} </td>
              </ng-container>
              
              <ng-container matColumnDef="no_resolucion">
                  <th  *matHeaderCellDef> N Resoluci&oacute;n </th>
                  <td mat-cell *matCellDef="let document"> {{document.id2}} </td>
                </ng-container>
            
                
                <ng-container matColumnDef="anio">
                  <th  *matHeaderCellDef> A&ntilde;o </th>
                  <td mat-cell *matCellDef="let document"> {{document.anio_resolucion}} </td>
                </ng-container>
    
                <ng-container matColumnDef="resolucion">
                    <th  *matHeaderCellDef> Resoluci&oacute;n </th>
                    <td mat-cell *matCellDef="let document">   
                      <mat-tab-group>
                        <mat-tab label="Car&aacute;tula">{{ document.title }}</mat-tab>
                        <mat-tab label="Detalle">{{ document.texto }}</mat-tab>
                      </mat-tab-group>
                    </td>
                </ng-container>

                <ng-container matColumnDef="grado_relevancia">
                    <th  *matHeaderCellDef> Grado de Relevancia </th>
                    
                    <td mat-cell *matCellDef="let document" [ngStyle]="{'background-color': getColor(document.relevancia)}">   
                      <div >
                        {{document.relevancia}}
                      </div>
                    </td>
                    <!--
                      <td [ngClass]="{
                      'relevant' : row.availableBalance > 0,
                      'no_relevant' : row.availableBalance < 0
                      }" mat-cell *matCellDef="let document" >   
                      <div >
                        {{obtener_relevancia(document.ranking)}}
                      </div>
                    </td>
                      
                      
                      <td mat-cell *matCellDef="let document" style='background-color: #77D3DE'>   
                        <div >
                          {{obtener_relevancia(document.ranking)}}
                        </div>
                    </td>
                    <td mat-cell *matCellDef="let document" style='background-color: #1133DE'>   
                        <div >
                          {{obtener_relevancia(document.ranking)}}
                        </div>
                        style='background-color: #FF11DE'
                    </td>-->
                </ng-container>
                
    
                <ng-container matColumnDef="explicacion">
                    <th  *matHeaderCellDef> Explicaci&oacute;n </th>
                    <td mat-cell *matCellDef="let document"> 
                      
                      <a (click)="details(document)">Ver Detalles
                          <i class='material-icons icon-blue'>clear_all</i>  
                      </a>
                    </td>
                </ng-container>
    
                <ng-container matColumnDef="evaluacion">
                    <th  *matHeaderCellDef> Evaluaci&oacute;n</th>
                    <!--<td mat-cell *matCellDef="let document">
                      <div class="row">
                        <div class="">
                          <a *ngIf="document.calificacion=='undefined'" (click)="feedback(document, 'up')">
                              <i class='material-icons icon-blue'> thumb_up</i>  
                          </a>
                          <a *ngIf="document.calificacion=='undefined'" (click)="feedback(document, 'down')">
                              <i class='material-icons icon-blue'>thumb_down </i>  
                          </a>
                          <a *ngIf="document.calificacion!='undefined'">
                              <i class='material-icons icon-green'>check</i>  
                          </a>
                        </div>
                      </div>    
                    </td>
                  <td style="background-color: rgb(83, 231, 231)">Muy Relevante
                      <div style="background-color: rgb(83, 231, 231)">Muy Relevante  

                      </div>
                      <div style="background-color: rgb(176, 235, 117)">Relevante
                      
                      </div>
                      <div style="background-color: coral">Suficientemente Relevante
    
                      </div>
                    </td>
                  -->
                    <td mat-cell *matCellDef="let document">
                        <div style="background-color: rgb(83, 231, 231)" *ngIf="document.calificacion=='undefined'" (click)="feedback(document, 'Muy Relevante')">
                          <!--<i class='material-icons icon-green'>adjust</i>-->
                          <small>Muy Relevante</small>  
                        </div>
                        <div style="background-color: rgb(176, 235, 117)" *ngIf="document.calificacion=='undefined'" (click)="feedback(document, 'Relevante')">
                          <!--<i class='material-icons icon-green'>adjust</i> -->
                          <small>Relevante</small>
                        </div>
                        <div style="background-color: coral" *ngIf="document.calificacion=='undefined'" (click)="feedback(document, 'Suficientemente Relevante')">
                          <!--<i class='material-icons icon-green'>adjust</i>-->
                          <small>Suficientemente Relevante</small>
                        </div>
                        <div style="background-color: chocolate" *ngIf="document.calificacion=='undefined'" (click)="feedback(document, 'Poco Relevante')">
                          <!--<i class='material-icons icon-green'>adjust</i>-->
                          <small>Poco Relevante</small>
                        </div>
                        <div style="background-color: crimson" *ngIf="document.calificacion=='undefined'" (click)="feedback(document, 'Nada Relevante')">
                          <!--<i class='material-icons icon-green'>adjust</i>-->
                          <small>Nada Relevante</small>
                        </div>

                        <a *ngIf="document.calificacion!='undefined'">Sentencia ya evaluada
                            <i class='material-icons icon-green'>check</i>  
                        </a>
                    </td>
                    

                
                </ng-container>
                
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
    
      </mat-tab>
      <mat-tab label="Detalles Resoluciones"> 
        <table class="striped highlight black-text">
          <thead>
          <th>Posici&oacute;n</th>
          <th>Cuerpo</th>
          </thead>
          <tbody>
          <tr *ngFor="let document of documentService.documents">
            <td>{{ document.posicion }}</td>
            <td>{{ document.texto }}</td>
          </tr>
          </tbody>

          
        </table>
        

      </mat-tab>
      
      
    </mat-tab-group>

    
    
  </div>
</div>



    <!--</div>-->    


