<!--<nav class="blue darken-2">
  <div class="container">
    <a href="/" class="brand-logo">B&uacute;squeda Sentencias</a>

  </div>
 


</nav>-->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary blue darken-4">
  <div style="text-align:center" class="">
    <a class="flow-text" routerLink="/">B&uacute;squeda de Sentencias Judiciales</a>
  </div>
</nav>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary blue darken-2">
  <!--<div class="container">
    <a href="/" class="brand-logo">B&uacute;squeda Sentencias</a>

  </div>-->
  
  

  <div class="collapse navbar-collapse blue darken-2 " id="mainNavbar">
    
    <ul class="navbar-nav ml-auto ">
      <!--blue accent-1-->
      <!--<li class="nav-item " *ngIf="!isLogged">
        <a class="nav-link " routerLink="/user/register">Register
        </a>
      </li>-->
      


     
     
      

      <li class="nav-item">
        <a class="nav-link" routerLink="/home/">Home
        </a>
      </li>
      

      <li class="nav-item " >
          <a class="nav-link " routerLink="/documents" (click)="authService.setTest(false)">B&uacute;squeda Sem&aacute;ntica (BS)
          </a>
      </li>
      <li class="nav-item " >
        <a class="nav-link " routerLink="/user/login" (click)="authService.setTest(false)">B&uacute;squeda Lexicogr&aacute;fica
        </a>
      </li>
      <li class="nav-item " >
          <a class="nav-link " routerLink="/documents" (click)="authService.setTest(true)">Pruebas          </a>
      </li>

      <li class="nav-item" *ngIf="!authService.getlogIn()">
        <a class="nav-link" routerLink="/user/login">Login
        </a>
      </li>

      <li class="nav-item" *ngIf="authService.getlogIn()">
        <a class="nav-link" routerLink="/user/login" (click)="authService.logout()">Logout
        </a>
      </li>


      <!--<li class="nav-item" *ngIf="authService.getlogIn()">
        <a href="#" class="nav-link" (click)="authService.onLogout()">Logout
        </a>
      </li>-->
      
    </ul>
  </div>

</nav>