<form class="col s12 white" #userRegistrationForm="ngForm" (ngSubmit)="OnSubmit(userRegistrationForm)">
    <div class="row">
      <div class="input-field col s6">
        <input class="validate" type="text" name="username" #UserName="ngModel" [(ngModel)]="user.username" required>
        <label data-error="Required field!">Nombre de Usuario</label>
      </div>
      <div class="input-field col s6">
        <input class="validate" type="password" name="password" #Password="ngModel" [(ngModel)]="user.password" required minlength="3">
        <label [attr.data-error]="Password.errors!=null?(Password.errors.required?'Required field!':'Minimum 3 characters needed'):''">Password</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input class="validate" type="text" name="email" #Email="ngModel" [(ngModel)]="user.email" [pattern]="emailPattern">
        <label data-error="Invalid email!">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input type="text" name="firstname" #FirstName="ngModel" [(ngModel)]="user.firstname">
        <label>Nombre</label>
      </div>
      <div class="input-field col s6">
        <input type="text" name="lastname" #LastName="ngModel" [(ngModel)]="user.lastname">
        <label>Apellido</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <button [disabled]="!userRegistrationForm.valid" class="btn-large btn-submit" type="submit">Confirmar</button>
      </div>
    </div>
  </form>